body {
  background: #f2f2f2;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.judul {
  text-align: center;
  color: #052857;
  font-weight: normal;
}

.kalkulator {
  width: 335px;
  background: #c2e7ff;
  margin: 100px auto;
  padding: 10px 20px 50px 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px #d1d1d1;
}

.submit {
  background: #052857;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #eee;
  font-size: 10pt;
  border-bottom: 4px solid #bf3d3d;
}
